@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}



<div class="row justify-content-center">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Нова регистрация.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email">Електронна поща</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password">Парола</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword">Повтори паролата</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="first-name" aria-required="true" />
                <label asp-for="Input.FirstName">Име</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="last-name" aria-required="true" />
                <label asp-for="Input.LastName">Фамилия</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Input.Birthdate"></label>
            <input asp-for="Input.Birthdate" class="form-control" type="date" />
            <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Address" class="form-control" autocomplete="first-name" aria-required="true" />
                <label asp-for="Input.Address">Адрес</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Input.Description">Описание</label>
            <textarea asp-for="Input.Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Регистрирай се</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
