@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-sm-3 offset-sm-4 text-center"> <!-- Голямо на екрани по-малки от sm и центриране -->
            <img src="~/Images/logo.png" alt="Лого" class="img-fluid logo"> <!-- img-fluid прави снимката да бъде адаптивна -->
                <div class="mt-3"> <!-- Отстъп за текста -->
                <h3>Лактирай с приятели!</h3>
            </div>
        </div>
    </div>
</div>