@model CommentFormModel

<!DOCTYPE html>
<html>
<head>
    <title>Добави нов коментар</title>
</head>
<body>
    <h1>Добави нов коментар</h1>
    <div class="row justify-content-center">
        <div class="col-md-11"> 
            <form asp-controller="Comment" asp-action="Add" method="post">
                <div>
                    <textarea id="text" name="text" rows="5" cols="40" required>@Model.Text</textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="col-md-8"> 
                    <button type="submit" class="btn btn-primary">Добави коментар</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

