@model ImagesViewModel

<h2>Images</h2>

<div class="row">
    @foreach (var kvp in Model.imagesToShow)
    {
        var image = kvp.Value;
            <img class="d-block w-50" style="height:500px"
            src="@image" alt="@image">
        int id = kvp.Key;
           <a asp-controller="Image" asp-action="DeleteImage" asp-route-id=@id asp-route-entityId=@Model.EntityId class="btn btn-outline-danger mb-2 w-100 p-3 fw-bold">Изтрий снимки</a>
    }
</div>